@font-face {
  font-family: 'AnmolLipiTrue';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/AnmolLipiTrue.eot');
  src:
    url('./assets/fonts/AnmolLipiTrue.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/AnmolLipiTrue.svg#AnmolLipiTrue') format('svg'),
    url('./assets/fonts/AnmolLipiTrue.woff') format('woff'),
    url('./assets/fonts/AnmolLipiTrue.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:global #app {
  padding: 5% 5% calc(56px + 10px);
}

:global .gurmukhi {
  font-family: AnmolLipiTrue, sans-serif !important;
}
