@font-face {
  font-family: 'GurbaniAkharTrue';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/GurbaniAkharTrue.eot');
  src:
    local('☺'),
    url('./assets/fonts/GurbaniAkharTrue.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/GurbaniAkharTrue.woff2') format('woff2'),
    url('./assets/fonts/GurbaniAkharTrue.woff') format('woff'),
    url('./assets/fonts/GurbaniAkharTrue.svg') format('svg'),
    url('./assets/fonts/GurbaniAkharTrue.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

:global #app {
  padding: 5% 5% calc(56px + 10px);
}

:global .gurmukhi {
  font-family: GurbaniAkharTrue, sans-serif !important;
}
